@import "node_modules/colors.css/src/_variables.css";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');

* {
	margin: 0;
	padding: 0;
}	

body{
	background-color: var(--silver);
	font-family: 'Nanum Gothic', sans-serif;
}

.container{
	margin: 0 20%;
}


/* global align */

.center{ text-align: center;}

.w-400{ font-weight: 400;}
.w-700{ font-weight: 700;}
.w-800{ font-weight: 800;}

.pt-1{ padding-top: 1rem; }
.pt-2{ padding-top: 2rem; }
.pt-3{ padding-top: 3rem; }
.pt-4{ padding-top: 4rem; }
.pt-5{ padding-top: 5rem; }

.mt-1{ margin-top: 1rem; }
.mt-2{ margin-top: 2rem; }
.mt-3{ margin-top: 3rem; }
.mt-4{ margin-top: 4rem; }
.mt-5{ margin-top: 5rem; }

/* grid */

.container {
  display: grid | inline-grid;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 50px;
	grid-row-gap:  50px;
	text-align: center;
}


.title{
	grid-column: 1 / 3;
}

.grid div:nth-child(even){
	background-color: var(--aqua);
	color: white;
}

.grid div:nth-child(odd){
	background-color: var(--fuchsia);
	color: white;
}


/* grid 2*/

.grid-2{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 50px;
	grid-row-gap:  50px;
	text-align: center;
}

.grid-2 div:nth-child(even){
	background-color: var(--green);
	color: white;
}

.grid-2 div:nth-child(odd){
	background-color: var(--olive);
	color: white;
}

.footer-2{
	grid-column-start: 1;
	grid-column-end: 4;
}


/* grid areas*/

.title-area {
	background-color: var(--fuchsia);
	grid-area: header-area;
}

.header-area {
	background-color: var(--fuchsia);
	grid-area: header-area;
}
.sidebar-area {
	background-color: var(--aqua);
	grid-area: sidebar-area;
}
.content-area{
	background-color: var(--aqua);
	grid-area: content-area;
}

.footer-area{
	background-color: var(--yellow);
	grid-area: footer-area;
}

.grid-area{
	text-align: center;
	display: grid;
	grid-template-rows: auto;
	grid-gap: 50px;
	grid-template-columns: 20% 20% 20% 20%;
	grid-template-areas:
			"header-area header-area header-area header-area header-area"
			"sidebar-area sidebar-area content-area content-area content-area"
			"footer-area footer-area footer-area footer-area footer-area";
}

/* flexbox */

